<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Reclamo</title>
</head>
<body>
    <div id="reclamo">
        <h1 id="title">Aquí puede escribir sus reclamos o recomendaciones</h1>
        <h2 id="subtitle">Escriba su reclamo: </h2>
        <input id="reclamo2" type="text" name="quejas" placeholder="Escriba aquí">
        <br><br>
        <img id="protesta" src="../assets/showing-tablet-s-blank-screen.jpg" alt="Reclamo">
        <br>
        <button id="registro1" type="submit">Enviar</button>
        <button id="registro2" type="button">Volver a la pagina principal</button>
    </div>
</body>
</html>