*{
    padding: 5px;
    margin: 10px;
}
h1, h2, h3, p{
    color: white;
}
img{
    height: 700px;
    width: 500px;
    float: left;
}
p{
    text-align: left;
    vertical-align: text-top;
}
button{
    display: inline-block;
    padding: 0%;
    text-align: center;
    background-color: transparent;
    border: #ffff;
    border-radius: 20px;
    color: rgb(160, 47, 212);;
    text-decoration: underline;
    font-size: large;
    cursor: pointer;
    cursor: hand;
}
i{
    color: white;
}
h1{
    text-align: center;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}
#precio{
    text-align: right;
}
#compra{
    position: absolute;
    right: 15%;
}
#reclamo{
    position: absolute;
    right: 5%;
}
